@(employeeForm: Form[models.Employee], user: models.users.User)
@import helper._

@main("Add Employee",user) {
    <p class="lead">Add a new employee</p>
    @form(action=routes.HomeController.addEmployeeSubmit(), 
    'class -> "form-horizontal", 
    'role -> "form",
    'enctype -> "multipart/form-data") {
        @* CSRF attack prevention *@
        @CSRF.formField



        @inputText(employeeForm("name"), '_label -> "Name", 'class -> "form-control")
        @for((value, name)<- Project.options){
            <input type = "checkbox" name ="catSelect[]" value ="@value"
            />@name<br>
        }
        @inputText(employeeForm("address"), '_label -> "Address", 'class -> "form-control")
        @inputText(employeeForm("startdate"), '_label -> "StartDate", 'class -> "form-control")
        @inputText(employeeForm("salary"), '_label -> "Salary", 'class -> "form-control")

        @inputText(employeeForm("id"), '_label -> "", 'hidden -> "hidden")


        
        <label>Image Upload</label>
        <input class="btn-sm btn-default" type="file" name="upload">
        <br><br>
        <div class="actions">
            <input type="submit" value="Add Employee" class="btn btn-primary">
            <a href="@routes.HomeController.index(0)">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }
}